
.contact-component {
  animation-name: load-contact;
  animation-duration: 1.5s;
}

.portfolio-component {
  animation-name: load-portfolio;
  animation-duration: 1.5s;
}

@keyframes load-contact {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes load-portfolio {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media(max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* CONTACT */
  .contact-component {
    width: 85%;
    margin-top: 5rem;
    
  }
  .profile-img{
    width: 50%;
    height: 150px;
    top: -4rem;
    left: 50%;
  }
  .data-card {
    margin-top: 0.5rem;
  }
  .table-contact {
    width: 250px;
    font-size: small;
  }

  /* PORTFOLIO */
  .portfolio-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: space-around;
    padding: 0.5rem;
  }

}

@media(min-width: 600px) {

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: screen;
  }

  /* CONTACT */
  .contact-component {
      margin-top: 11rem;
      margin-left: 4rem;
      margin-bottom: 5rem;
  }
  .profile-img{
      width: 256px;
      height: 256px;
      top: -8rem;
      left: 50%;
  }
  .data-card {
      margin-top: 4rem;
  }
  .table-contact {
      font-size: large;
  }

  /* PORTFOLIO */
  .portfolio-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    margin-right: 4rem;
    margin-left: auto;
    height: 8rem;
    padding: 1.5rem;
  }

}