
.contact-component {
  animation-name: load-contact;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.portfolio-component {
  animation-name: load-portfolio;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.data-component {
  animation-name: load-data;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes load-contact {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes load-portfolio {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes load-data {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  75% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media(max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* CONTACT */
  .contact-component {
    width: 85%;
    margin-top: 5rem;
    
  }
  .profile-img{
    width: 50%;
    height: 150px;
    top: -4rem;
    left: 50%;
  }
  .data-card {
    margin-top: 0.5rem;
  }
  .table-contact {
    width: 250px;
    font-size: small;
  }

  /* PORTFOLIO */
  .portfolio-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: space-around;
    padding: 0.5rem;
  }

  /* DATA */
  .data-component {
    margin-left: auto;
    margin-right: auto;
  }
  .hr-element {
      margin-right: 0.5rem;
  }
  .text-element {
      font-size: 1rem;
  }
  .language-element {
      width: 16.666667%;
  }
  .education-element {
      flex-direction: column;
  }
  .education-card {
      width: 100%;
      margin-top: 12px;
  }
  .experience-element {
      margin-top: 10px;
      font-size: 20px;
  }
  .modal-element {
      width: 100%;
  }
  .modal-title {
      font-size: 15px;
  }
  .modal-description {
      font-size: 12px;
  }

}

@media(min-width: 600px) {

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: screen;
  }

  /* CONTACT */
  .contact-component {
      margin-top: 11rem;
      margin-left: 4rem;
      margin-bottom: 5rem;
  }
  .profile-img{
      width: 256px;
      height: 256px;
      top: -8rem;
      left: 50%;
  }
  .data-card {
      margin-top: 4rem;
  }
  .table-contact {
      font-size: large;
  }

  /* PORTFOLIO */
  .portfolio-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    margin-right: 4rem;
    margin-left: auto;
    height: 8rem;
    padding: 1.5rem;
  }

  /* DATA */
  .data-component {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .hr-element {
      margin-right: 2.5rem;
  }
  .text-element {
      font-size: 1.25rem;
  }
  .language-element {
      width: 20%;
  }
  .education-element {
      flex-direction: row;
      flex-wrap: wrap;
  }
  .education-card {
      width: 100%;
      margin-top: 12px;
  }
  .experience-element {
      font-size: 30px;
  }
  .modal-element {
      width: 75%;
  }
  .modal-button {
      width: 50px;
      height: 50px;
      font-size: 30px;
      border-radius: 6px;
      border: 2;
  }
  .modal-title {
      font-size: 30px;
  }
  .modal-description {
      font-size: 16px;
  }

}

/* LANGUAGES BAR */
@media(min-width: 1200px) {
  .language-element {
      width: 8.333333%;
  }

  .image-decoration {
      height: 10rem;
  }
}

/* EDUCATION ELEMENTS & MODAL */
@media(min-width: 1300px) {
  .education-element {
      flex-direction: row;
      flex-wrap: wrap;
  }
  .education-card {
      width: 48%;
      margin-right: 2px;
  }

  .modal-element {
      width: 50%;
  }
}