

@media(max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* CONTACT */
  .contact-component {
    width: 85%;
    margin-top: 5rem;
    
  }
  .profile-img{
    width: 50%;
    height: 150px;
    top: -4rem;
    left: 50%;
  }
  .data-card {
    margin-top: 0.5rem;
  }
  .table-contact {
    width: 250px;
    font-size: small;
  }

}

@media(min-width: 600px) {

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: screen;
  }

  /* CONTACT */
  .contact-component {
      margin-top: 11rem;
      margin-left: 4rem;
      margin-bottom: 5rem;
  }
  .profile-img{
      width: 256px;
      height: 256px;
      top: -8rem;
      left: 50%;
  }
  .data-card {
      margin-top: 4rem;
  }
  .table-contact {
      font-size: large;
  }

}